# Eclipse Specific #
.metadata/
*.snap
*.index
*.resources
*.history
*.syncinfo*
*.markers
*.dat
*.launch
*.xmi
.version*

# Eclipse Project Files #
.classpath
.project
.settings/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Build Output Folders #
bin/
build/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE Specific #
*.iml
.idea/
.vscode/

# OS Specific #
.DS_Store
Thumbs.db

# Virtual Machine Crash Logs #
hs_err_pid*

# Miscellaneous #
*.swp
*.tmp
*.bak
*.old
*.orig
*.rej
